body {
    background-color: #e6ecf0;
    padding: 0;
    margin: 0;
}

.container {
    width: 1190px;
    margin: 0 auto;
}
.header {
    background-color: white;
    border-bottom: 1px solid;
    height: 46px;
    width: 100%;
    /*position: relative;*/
}
ul{
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    display: inline-block;
     
}
.nav li a {
    text-decoration: none;
    color: #66757f;
    font-size: 13px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 12px;
    display: block;
    
}
