body {
    background-color: #e6ecf0;
    padding: 0;
    margin: 0;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

/* Navigation */

.header {
    background-color: white;
    border-bottom: 1px solid;
    height: 46px;
    width: 100%;
    /*position: relative;*/
}

.header .nav {
    float: left;
}
.header .search {
    float: right;
   
}
ul{
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    display: inline-block;
     
}
.nav li a {
    text-decoration: none;
    color: #66757f;
    font-size: 13px;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif;
    padding: 12px;
    display: block;
    
    
}

.nav li a:hover {
    color: #1DA1F2;
   
}

.header .search input {
    border: 1px solid #14171a;
    border-radius: 25px;
    margin: 8px;
    padding: 5px;
    vertical-align: text-bottom;
}

.search img {
    height: 32px;
    width: 32px auto;
    padding: 6px;
    border-radius: 50%;
}


.search .button {
   
    border:1px solid #1DA1F2;
    background: #1DA1F2;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    font-size: 14px;
    margin: 8px 0 8px 3px;
    vertical-align: text-bottom
}


.header .icon {
    color:#1DA1F2;
    margin-left: 40%;
    font-size: 30px;
    position: absolute;
    margin-top: 8px;
    
    
}

/* Content */
    
.clear {
    clear: both;
}


/* sidebar left */

.box {
    background-color: white;
    padding: 15px;
    display: block;
    position: relative;
}

.sidebar-left {
    float: left;
    width: 290px;
    margin: 10px;
}


.profile .cover a{
    background-image: url("../img/cover.jpg");
    height:95px;
    background-size: 288px 95px;
    display: block;
    
}

.box.profile {
    padding: 0;
}

.side-avatar .avatar {
    display: block;
    position: absolute;
    top: -30px
    
    
    
}
.side-avatar .avatar  img  {
    border-radius: 50%;
    width: 72px;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #777;
}
    
.username {
    display: block;
    margin-left: 90px;
    margin-top: -10px;
    font-family: "Segoe UI",Arial,sans-serif;
    
}   
.farsi {
    
    font-size:18px;
    color:#14171a;
    text-decoration: none;
    font-weight: bold;
    
}
.eng  {
   
    font-size: 12px;
    text-decoration: none;
    color: #66757f;
    
}

.username .farsi:hover {
    text-decoration: underline;
}
.username .eng:hover {
    text-decoration: underline;
}

.profile-data li{
    list-style: none;
    display: inline-block;
    
        
}
.profile li a {
    display: block;
    margin: 10px 3px 0 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
}

.profile .data-value {
    margin-top: 3px;
    color: #1DA1F2;
    font-size: 18px;
    font-weight: bold;
}
.profile .data-label {
    color:#657786;
    font-size: 12px;
    font-weight: bold;
}

.data-label:hover {
    color:#1DA1F2;
}




/*.content div {
    display: block;
    background-color: white;
    
}

.content .sidebarleft {
    float: left;
    width: 290px;
    background-color: white;
}

.sidebarleft  img {
    height: 100px;
    object-fit: cover;
    display: block;
    width: 290px;
    
}

.sidebarleft .cover li {
    list-style: none;
    display: inline-block;
     
}

.cover li a {
     color: #657786;
    margin-left: 16px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px; 
    
}
.cover li a:hover {
    color: #1DA1F2;
}


.number li {
    display: inline-block
        
}
.sidebarleft .number li a{
    color: #1DA1F2;
    margin-left: 22px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 16px; 
    
}

.content .sidebarcenter {
    float: left;
    width: 560px;
    background-color: white;
    margin-left: 25px;
}
.content .sidebarright {
    float: right;
    width: 290px;
    background-color: white;
            
}*/

