body {
    background-color: #e6ecf0;
    padding: 0;
    margin: 0;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

/* Navigation */

.header {
    background-color: white;
    border-bottom: 1px solid #afbdbd;
    height: 46px;
    width: 100%;

    /*position: relative;*/
}

.header .nav {
    float: left;
}

.header .search {
    float: right;
    position: relative;
    display: flex;

}

.search-submit input {
    border: 1px solid #e6ecf0;
    border-radius: 35px;
    padding: 6px;
    background-color: #f5f8fa;
    display: inline-block;
    width: 210px;
    margin-top: 9px;
    margin-right: 10px
}


.search-submit input:focus {
    background-color: white;
    border: 2px solid #1da1f2;


}

.search-submit button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;
    left: 194px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #777;
}


ul {
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    display: inline-block;

}

.nav li a {
    text-decoration: none;
    color: #66757f;
    font-size: 14px;
    font-weight: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 12px;
    display: block;


}

.nav .fa {
    font-size: 18px;
}

.nav li a:hover {
    color: #1DA1F2;
    border-bottom: 3px solid #1DA1F2;
}



.search img {
    height: 32px;
    width: 32px auto;
    padding: 6px;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}


.search .button {

    border: 1px solid #1DA1F2;
    background: #1DA1F2;
    color: white;
    font-weight: bold;
    border-radius: 100px;
    font-size: 15px;
    margin: 8px 0 8px 3px;
    vertical-align: text-bottom;
    padding: 6px 16px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.search .button:hover {
    background-color: #4AB3F4;


}



.header .icon {
    color: #1DA1F2;
    margin-left: 44%;
    font-size: 23px;
    position: absolute;
    margin-top: 11px;
    cursor: pointer;

}

/* Content */

.clear {
    clear: both;
}


/* sidebar left */

.box {
    background-color: white;
    padding: 15px;
    display: block;
    position: relative;
}

.sidebar-left {
    float: left;
    width: 290px;
    margin: 10px;
}

/* profile */
.profile .cover a {
    background-image: url("../img/cover.jpg");
    height: 95px;
    background-size: 288px 95px;
    display: block;

}

.box.profile {
    padding: 0;
}

.side-avatar .avatar {
    display: block;
    position: absolute;
    top: -30px
}

.side-avatar .avatar img {
    border-radius: 50%;
    width: 72px;
    border: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 2px #777;
}

.username {
    display: block;
    margin-left: 90px;
    margin-top: -10px;
    font-family: "Segoe UI", Arial, sans-serif;

}

.farsi {

    font-size: 18px;
    color: #14171a;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.eng {

    font-size: 12px;
    text-decoration: none;
    color: #66757f;

}

.username .farsi:hover {
    text-decoration: underline;
}

.username .eng:hover {
    text-decoration: underline;
}

.profile-data li {
    list-style: none;
    display: inline-block;


}

.profile li a {
    display: block;
    margin: 10px 3px 0 10px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
}

.profile .data-value {
    margin-top: 3px;
    color: #1DA1F2;
    font-size: 18px;
    font-weight: bold;
}

.profile .data-label {
    color: #657786;
    font-size: 12px;
    font-weight: bold;
    padding-right: 13px;

}

.data-label:hover {
    color: #1DA1F2;
}

/* Trend */

.trend {
    margin-top: 10px;
    padding: 15px;
    font-family: "Segoe UI", Arial, sans-serif
}

.trend-change {
    color: #1c94e0;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: normal;


}

.trend-change:hover {
    text-decoration: underline;
}

.trend-items li {
    list-style: none;

}

.trend-items a {
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif;
}

.trend-items .trend-topic {
    color: #1DA1F2;
    font-weight: bold;
    font-size: 14px;

}

.trend-items a:hover span {
    text-decoration: underline;
}

.trend-items .first-trend {
    color: #14171a;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 7px;

}

.trend-text {
    color: #657786;
    font-size: 12px;
    margin-bottom: 7px;
}

/* timeline */

.timeline-tweet {
    float: left;
    margin: 10px;
}

.tweet-send {
    height: 35px;
    width: 520px;
    background-color: #E8F5FD;

}

.img-top-timeline {
    float: left;
    left: 28px;
    top: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.type-tweet {
    display: block;
    background-color: white;
    width: 471px;
    height: 30px;
    margin-left: 39px;
    padding-left: 12px;
    border-radius: 8px;
    border: 1px solid rgb(181, 217, 240);
    color
}

input::placeholder {
    color: #1DA1F2;
}

.type-tweet:focus {
    height: 60px;
}

input:focus::placeholder {
    color: #777;
}


/* sidebar right */
.sidebar-right{
    float: right;
    
}
.sidebar-right-up {
    width: 257px;
    height: 300px;
    border: 1px solid #e6ecf0;
    margin: 10px;
}

.topic-right h3 {
    font-size: 18px;
    font-weight: bold;
    color: #14171a;
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
    display: inline-block;


}

.topic-right small {
    font-size: 12px;
    color: #657786;
}

.refresh {
    color: #1c94e0;
    text-decoration: none;
    font-size: 12px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.refresh:hover {
    text-decoration: underline;
}

.sidebar-right-up  .img-suggest {
    border-radius: 50px;
    width: 48px;
    height: 48px;
    float: left;

}

.sidebar-right-up  .name-suggest {
    color: black;
    font-weight: bold;
    font-family: "Segoe UI", Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin-left: 59px;
    


}

.name-suggest b {
    font-size: 14px;
    font-weight: normal;
    color: #657786;
    font-family: "Segoe UI", Arial, sans-serif;
}

.name-suggest:hover {
    color: #1DA1F2;
    text-decoration: none;
}

.name-suggest:hover strong {
    text-decoration: underline;
}

.follow-suggest {
    border: 1px solid #1DA1F2;
    margin-left: 9px;
    margin-top: 4px;
    border-radius: 50px;
    color: #1DA1F2;
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 24px;
}

.suggest {
    display: block;
    border-bottom: 1px solid #d3dadf;
    margin-top: 15px;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

.suggest a{
    text-decoration: none;
}

.follow-by{
    font-size: 12px;
    color: #657786;
    font-family: "Segoe UI", Arial, sans-serif;
}
 .follow-by a{
     color: #1DA1F2;
     font-weight: bold;

 }
 .follow-by:hover a {
     text-decoration: underline;
     
 }

 .people a {
     color: #1DA1F2;
     font-size: 12px;
     text-decoration: none;
     font-family: sans-serif;
     padding: 15px;
 }

 .people:hover a{
     text-decoration: underline;
 }


 .advertise {
     width: 259px;
     height: 136px;
     margin: 10px;
     
     
 }

 .links {
    height: 93px;
    border-bottom: 1px solid #e6ecf0;;
 }

 .footer-item{
     list-style: none;
     display: block;
     float: left;
     padding-right: 8px;
     font-size: 12px;
     color: #657786;
     font-family: "Segoe UI",Arial,sans-serif;
     padding-bottom: 4px;
     
     
 }

 .footer-item a{
    color: #657786;
    text-decoration: none;
 }

 .footer-item:hover a{
     text-decoration: underline;
     color: #1DA1F2;
 }

 .footer-advertise {
    padding: 15px;
    font-size: 12px;
    font-family: "Segoe UI",Arial,sans-serif;

 }

 .footer-adv a {
    color: #1DA1F2;
    text-decoration: none;
 }

 .footer-adv:hover a{
     text-decoration: underline;
 }